
@using ShoppLab.Ui.Web.ViewModel;

@{
    ViewBag.Title = "Pedido - cadastrar";
}

@model PedidoViewModel

<div class="content-heading">
    <div>
        Pedido
        <small>Pedido - cadastrar: Inclusão ou alteração de pedidos de venda</small>
    </div>
</div>

<form id="form-pedido" method="post">

    <div class="card card-default">
        <div class="card-header">Dados do cliente</div>
        <div class="card-body">

            <div class="form-row">

                <div class="col-lg-5 mb-3">
                    @Html.Label("Nome")
                    @Html.TextBoxFor(x => x.Nome, new { @class = "form-control" })

                </div>

                <div class="col-lg-3 mb-3">
                    @Html.Label("E-mail")
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@@</span>
                        </div>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(x => x.Email)
                </div>

                <div class="col-lg-2 mb-3">
                    @Html.LabelFor(x => x.DataRegistro)
                    <div class="input-group mb-3">
                        <div class="input-group date" id="datetimepicker1">
                            <input class="form-control format-date" type="text" />
                            <span class="input-group-append input-group-addon">
                                <span class="input-group-text fas fa-calendar-alt"></span>
                            </span>
                        </div>

                    </div>
                </div>

                <div class="col-lg-2 mb-3">
                    @Html.LabelFor(x => x.Telefone)
                    <input class="form-control format-phone" id="" type="text" placeholder="" required="" />
                </div>

            </div>
        </div>
    </div>

    <div class="card card-default">
        <div class="card-header">Itens pedido</div>
        <div class="card-body">
            <div class="form-row">

                <div class="col-lg-8 mb-3">
                    <label for="">Produto</label>
                    <input class="form-control" id="" type="text" placeholder="" required="" />
                </div>

                <div class="col-lg-1 mb-3">
                    <label for="validation02">Quantidade</label>
                    <input class="form-control format-money" id="" type="text" placeholder="" required="" />
                </div>

                <div class="col-lg-1 mb-3">
                    <label for="">Unidade</label>
                    <input class="form-control" id="" type="text" placeholder="" required="" />
                </div>

                <div class="col-lg-2 mb-3">
                    <label for="">Marca</label>
                    <input class="form-control" id="" type="text" placeholder="" required="" />
                </div>

            </div>

            <div class="form-row">

                <div class="col-lg-2 mb-3">
                    <label for="">Valor unitário mínimo</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input class="form-control format-money" type="text" aria-label="" />
                    </div>
                </div>

                <div class="col-lg-2 mb-3">
                    <label for="">Valor unitário</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input class="form-control format-money" type="text" aria-label="" />
                    </div>
                </div>

                <div class="col-lg-2 mb-3">
                    <label for="">Valor total</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input class="form-control format-money" type="text" aria-label="" />
                    </div>
                </div>

                <div class="col-lg-2 mb-3">
                    <label for="">ICMS saída</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input class="form-control format-money" type="text" aria-label="" />
                    </div>
                </div>

                <div class="col-lg-2 mb-3">
                    <label for="">IPI venda ou frete</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input class="form-control format-money" type="text" aria-label="" />
                    </div>
                </div>


                <div class="col-lg-2 mb-3">
                    <label for="">ICMS</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">%</span>
                        </div>
                        <input class="form-control format-money" type="text" aria-label="" />
                    </div>
                </div>

            </div>


            <div class="form-row">

                <div class="col-lg-2 mb-3">
                    <label for="">Preço compra</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input class="form-control format-money" type="text" aria-label="" />
                    </div>
                </div>

                <div class="col-lg-2 mb-3">
                    <label for="">Despesa compra</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input class="form-control format-money" type="text" aria-label="" />
                    </div>
                </div>

                <div class="col-lg-2 mb-3">
                    <label for="">Comissão Broker</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input class="form-control format-money" type="text" aria-label="" />
                    </div>
                </div>


                <div class="col-lg-2 mb-3">
                    <label for="">ICMS entrada</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">%</span>
                        </div>
                        <input class="form-control format-money" type="text" aria-label="" />
                    </div>
                </div>

                <div class="col-lg-2 mb-3">
                    <label for="">IPI compra</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">%</span>
                        </div>
                        <input class="form-control format-money" type="text" aria-label="" />
                    </div>
                </div>

                <div class="col-lg-2 mb-3">
                    <label for="">Pagto compra em dias</label>
                    <div class="input-group mb-3">
                        <input class="form-control format-integer" type="text" aria-label="" />
                    </div>
                </div>

            </div>

            <div class="form-row">


                <div class="col-lg-2 mb-3">
                    <label for="">Pagto venda em dias</label>
                    <div class="input-group mb-3">
                        <input class="form-control format-integer" type="text" aria-label="" />
                    </div>
                </div>

                <div class="col-lg-2 mb-3">
                    <label for="">Prazo de entrega em dias</label>
                    <div class="input-group mb-3">
                        <input class="form-control format-integer" type="text" aria-label="" />
                    </div>
                </div>

                <div class="col-lg-2 mb-3">
                    <label for="">Preço de venda unitário</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text format-money">$</span>
                        </div>
                        <input class="form-control format-money" type="text" aria-label="" />
                    </div>
                </div>

                <div class="col-lg-2 mb-3">
                    <div class="input-group mb-3 mt-sm-3">
                        <button  type="submit"  class="btn btn-primary mb-2">Adicionar</button>
                    </div>
                </div>

            </div>


        </div>
    </div>
</form>

<div class="card card-default">
    <div class="card-header">Produtos do pedido</div>

    <div class="card-body">


        <div class="col-lg-12 mb-3">
            <table table class="table table-striped my-4 w-100" id="table-detalhe-pedido" style="width:100%">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Qtde</th>
                        <th>Un</th>
                        <th>Marca</th>
                        <th>Vl. unit. mínimo</th>
                        <th>Vl. total</th>
                        <th>Ipi venda ou frete</th>
                        <th>Ipi compra</th>
                        <th>Icms</th>
                        <th>Icms saída</th>
                        <th>Icms entrada</th>
                        <th>Preço compra</th>
                        <th>Despesa compra</th>
                        <th>Comissão broker</th>
                        <th>Pagto compra em dias</th>
                        <th>Pagto venda em dias</th>
                        <th>Prazo entrega em dias</th>
                        <th>Preço de venda unitário</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="350px;">Caixa de papelão grande</td>
                        <td width="80px;">100,00</td>
                        <td width="70px;">KG</td>
                        <td>Diverso</td>
                        <td>3,50</td>
                        <td>130,00</td>
                        <td>18</td>
                        <td>18</td>
                        <td>12</td>
                        <td>12</td>
                        <td>12</td>
                        <td>1,80</td>
                        <td>40,00</td>
                        <td>12,00</td>
                        <td>28</td>
                        <td>28</td>
                        <td>120</td>
                        <td>180,00</td>
                    </tr>
                    <tr>
                        <td width="350px;">Caixa de papelão grande</td>
                        <td width="80px;">100,00</td>
                        <td width="70px;">KG</td>
                        <td>Diverso</td>
                        <td>3,50</td>
                        <td>130,00</td>
                        <td>18</td>
                        <td>18</td>
                        <td>12</td>
                        <td>12</td>
                        <td>12</td>
                        <td>1,80</td>
                        <td>40,00</td>
                        <td>12,00</td>
                        <td>28</td>
                        <td>28</td>
                        <td>120</td>
                        <td>180,00</td>
                    </tr>
                    <tr>
                        <td width="350px;">Caixa de papelão grande</td>
                        <td width="80px;">100,00</td>
                        <td width="70px;">KG</td>
                        <td>Diverso</td>
                        <td>3,50</td>
                        <td>130,00</td>
                        <td>18</td>
                        <td>18</td>
                        <td>12</td>
                        <td>12</td>
                        <td>12</td>
                        <td>1,80</td>
                        <td>40,00</td>
                        <td>12,00</td>
                        <td>28</td>
                        <td>28</td>
                        <td>120</td>
                        <td>180,00</td>
                    </tr>
                    <tr>
                        <td width="350px;">Caixa de papelão grande</td>
                        <td width="80px;">100,00</td>
                        <td width="70px;">KG</td>
                        <td>Diverso</td>
                        <td>3,50</td>
                        <td>130,00</td>
                        <td>18</td>
                        <td>18</td>
                        <td>12</td>
                        <td>12</td>
                        <td>12</td>
                        <td>1,80</td>
                        <td>40,00</td>
                        <td>12,00</td>
                        <td>28</td>
                        <td>28</td>
                        <td>120</td>
                        <td>180,00</td>
                    </tr>
                    <tr>
                        <td width="350px;">Caixa de papelão grande</td>
                        <td width="80px;">100,00</td>
                        <td width="70px;">KG</td>
                        <td>Diverso</td>
                        <td>3,50</td>
                        <td>130,00</td>
                        <td>18</td>
                        <td>18</td>
                        <td>12</td>
                        <td>12</td>
                        <td>12</td>
                        <td>1,80</td>
                        <td>40,00</td>
                        <td>12,00</td>
                        <td>28</td>
                        <td>28</td>
                        <td>120</td>
                        <td>180,00</td>
                    </tr>
                    <tr>
                        <td width="350px;">Caixa de papelão grande</td>
                        <td width="80px;">100,00</td>
                        <td width="70px;">KG</td>
                        <td>Diverso</td>
                        <td>3,50</td>
                        <td>130,00</td>
                        <td>18</td>
                        <td>18</td>
                        <td>12</td>
                        <td>12</td>
                        <td>12</td>
                        <td>1,80</td>
                        <td>40,00</td>
                        <td>12,00</td>
                        <td>28</td>
                        <td>28</td>
                        <td>120</td>
                        <td>180,00</td>
                    </tr>
                    <tr>
                        <td width="350px;">Caixa de papelão grande</td>
                        <td width="80px;">100,00</td>
                        <td width="70px;">KG</td>
                        <td>Diverso</td>
                        <td>3,50</td>
                        <td>130,00</td>
                        <td>18</td>
                        <td>18</td>
                        <td>12</td>
                        <td>12</td>
                        <td>12</td>
                        <td>1,80</td>
                        <td>40,00</td>
                        <td>12,00</td>
                        <td>28</td>
                        <td>28</td>
                        <td>120</td>
                        <td>180,00</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>


@section Styles {
    <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
    <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    <link href="@Styles.Url("~/Vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.css")" rel="stylesheet" />

}

@section Scripts {

    <script src="@Scripts.Url("~/Scripts/shopplab/external/jquery.maskmoney.min.js")"></script>
    <script src="@Scripts.Url("~/Scripts/shopplab/external/jquery.mask.min.js")"></script>
    <script src="@Scripts.Url("~/Scripts/shopplab/shopplab.util.js")"></script>
    <script src="@Scripts.Url("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Scripts.Url("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>



    <script src="@Scripts.Url("~/Vendor/datatables.net/js/jquery.dataTables.js")"></script>
    <script src="@Scripts.Url("~/Vendor/datatables.net-bs4/js/dataTables.bootstrap4.js")"></script>
    <script src="@Scripts.Url("~/Vendor/datatables.net-buttons/js/dataTables.buttons.js")"></script>
    <script src="@Scripts.Url("~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js")"></script>
    <script src="@Scripts.Url("~/Vendor/datatables.net-buttons/js/buttons.colVis.js")"></script>
    <script src="@Scripts.Url("~/Vendor/datatables.net-buttons/js/buttons.flash.js")"></script>
    <script src="@Scripts.Url("~/Vendor/datatables.net-buttons/js/buttons.html5.js")"></script>
    <script src="@Scripts.Url("~/Vendor/datatables.net-buttons/js/buttons.print.js")"></script>
    <script src="@Scripts.Url("~/Vendor/datatables.net-keytable/js/dataTables.keyTable.js")"></script>
    <script src="@Scripts.Url("~/Vendor/datatables.net-responsive/js/dataTables.responsive.js")"></script>
    <script src="@Scripts.Url("~/Vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js")"></script>
    <script src="@Scripts.Url("~/Vendor/jszip/dist/jszip.js")"></script>
    <script src="@Scripts.Url("~/Vendor/pdfmake/build/pdfmake.js")"></script>
    <script src="@Scripts.Url("~/Vendor/pdfmake/build/vfs_fonts.js")"></script>
    <script src="@Scripts.Url("~/Vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js")"></script>



    <script type="text/javascript">

        $(function () {
            formatFields();
        });


    </script>
}


